/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.hidden
{display: none;}

/* InstallButton PWA */
.btnmode
{
    border: none;
    background: transparent;
    text-align: center;
    padding: 0 0; 
    color: var(--installBtn-colorTxt);
    font-weight: 550;
    text-shadow: 2px 2px var(--text-shadow1);
}
.btnmode:hover, 
.btnmode:focus
{
    color: var(--header-colorTxt-hover);
    box-shadow: none;
}
.btn
{
  border: 1px solid black !important;
  padding: 0px 4px !important;
}
.breakS
{
  display: block;
  height: 0.5rem;
  width: 100%;
}
.cacheIMG
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}
/* container */
.container
{
  max-width: 98% !important;
  align-items: center;
}
.box 
{
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  width: 31%;
  margin-right: 2%;
  vertical-align: top;
  margin-bottom: 15px;
  border-radius: 5px;

  
}

.vorschau {
	height: 150px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

output {
	display: block;
}
#fupload
{
  margin-top: 20px;
}
.progressbar
{
  height: 25px;
  width:70%;
  border: 1.5px solid black; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.progressbar-fill
{
  height: 100%;
  width: 0%;
  background: grey;
  display: flex;
  align-items: center;
  transition: width 0.25s; 
}
.progressbartext
{
  font-weight: bold;
  margin-left: 10px;
}
@media (orientation: portrait) 
{
  .box
  {
    display: block;
    width: 100%;
    margin-bottom: 5px;

      
  }
}