@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center box">
    <h1 class="display-4">Willkommen</h1>
    <p>Test von technologischen Grundvoraussetzungen einer Applikation mittels PWA-Technologie</p>
</div>


<div class="text-center box">
    <!-- Install button, hidden by default -->
    <div id="installContainer" class="hidden">
        <div class="breakS"></div>
        <button class="btn btnmode" id="butInstall" type="button">APP INSTALLIEREN</button>
    </div>    
    <p>Werden A2HS und beforinstallprompt von diesem Browser unterstützt, ist hier der Button zu Installation zu sehen.</p>
</div>


<div class="text-center box">
    <div class="breakS"></div>
    <button class="btn btnmode" id="addLocation" type="button">TRY IT</button>
    <p>Wird dem Browser die Berechtigung erteilt, kann hier der Standort als Koordinaten dargestellt werden.</p>
    <p class="hidden" id="demo"></p>  
</div>

<div class="text-center box">
    <img src="/img/logo_512.png" alt="Cache Test" class="cacheIMG">
    <button class="btn btnmode cacheObj" type="submit">Cache</button>
    <div class="breakS"></div>
    <p>Dieses Bild ist nicht im cache durch klicken des Buttons kann es im Cache gespeichert werden und offline geladen werden.</p>
</div>


<div class="text-center box">
       	<p>Wählen Sie Dateien aus. Von Bildern werden Vorschaubilder erzeugt.</p>
	
    <form class="form" id="Uploadform"></form>
    <input type="file"	id="files" name="files[]" multiple />
    <button class="btn btnmode hidden" id="fupload" type="submit">Upload</button>
    
    <div class="progressbar" id="progressBar">
        <div class="progressbar-fill">
            <span class="progressbartext">0%</span>
        </div>
    </div>
    <output id="dateiListe"></output>
    <output id="list"></output>
    <p>Hier kann auf das Filesystem zugegriffen werden. Dies ist mittels HTML5 möglich</p>
</div>


@section Scripts{
    <script src="~/js/pwa_installBtn.js"></script>
}