@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center box">
    <h1 class="display-4">Willkommen</h1>
    <p>Dies ist die im Cache gespeicherte Seite. Diese wird aufgerufen wenn die angeforderte Ressource nicht über Netzwerk oder den Cache geladen werden konnte</p>
</div>


@section Scripts{
    
}